extends layout

block content
  h1 Área protegida
  p pós barreira de autenticaçao 
  ul
    li
      a(href="/users/login") Login      
    li
      a(href="/users/register") Registar
    li
      a(href="/") HomePage
